<h1>PRODUCTOS AGREGADOS:</h1>
<ul id="product-list">
  {{#each products}}
  <li>
    <h2>{{title}}</h2>
    <h3>${{price}}</h3>
    <button class="addToCart-button" data-id="{{this._id}}">Add to Cart</button>
  </li>

  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href="?page={{prevPage}}{{#if limit}}&limit={{limit}}{{else}}&limit=10{{/if}}{{#if sort}}&sort={{sort}}{{/if}}{{#if filter}}&filter={{filter}}{{/if}}">
      Página Anterior
    </a>
  {{/if}}

  <span>Página {{currentPage}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="?page={{nextPage}}{{#if limit}}&limit={{limit}}{{else}}&limit=10{{/if}}{{#if sort}}&sort={{sort}}{{/if}}{{#if filter}}&filter={{filter}}{{/if}}">
      Página Siguiente
    </a>
  {{/if}}
</div>

<script src="/js/homeView.js"></script>